<?xml version="1.0"?>
<launch>
  <include file="$(find walker_kondo_driver)/launch/description.launch"/>
  <remap from="joint_states" to="kondo_driver/command/joint_state"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="multi_joint_state_publisher">
    <param name="rate" value="20"/>
    <param name="use_gui" value="true"/>
  </node>

</launch>
