<launch>

    <!-- Generate/Load robot description file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lipm)/urdf/walker_left_leg.urdf.xacro'" />


    <!-- Joint state publisher opens a GUI to manually input joint states -->
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <!-- Robot state publisher subscribe to joint states and publish "tf" transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Rviz to vizualize robot -->
    <!-- mmm.rviz holds the configuration for the RVIZ interface? -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find lipm)/rviz/walker_left_leg.rviz'"/>

</launch>
