<launch>
  <!-- This is not a physics simulator, it just reacts kinematically based on the joint angle commands sent.
Use this to roughly check if the commands sent look valid -->

    <!-- Generate/Load robot description file -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find walker_description)/urdf/walker.urdf.xacro'" />


    <!-- Robot state publisher subscribe to joint states and publish "tf" transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="command/joint_states" to="/joint_states"/>
      <!-- TODO: fix topic name -->
    </node>

    <!-- Rviz to vizualize robot -->
    <!-- mmm.rviz holds the configuration for the RVIZ interface? -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d '$(find walker_description)/rviz/walker_sim.rviz'"/>

</launch>
